<?xml version="1.0" encoding="utf-8"?>
<!--
    Sierra Romeo: App.config 
    Copyright 2024 David Adam <mail@davidadam.com.au>

	Sierra Romeo is free software: you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation, either version 3 of
	the License, or (at your option) any later version.

    Sierra Romeo is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
	without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See
	the GNU General Public License for more details.
-->
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Sierra_Romeo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="uriScheme" value="x-sierra-romeo" />
		<add key="prodaEndpoint" value="https://vnd.proda.humanservices.gov.au" />
		<add key="clientName" value="SierraRomeoV1" />
		<!-- Get a clientID from the Health Systems Developers Portal -->
		<add key="clientId" value="" />
		<!-- Point this at a pbsserve instance or ask to use the development server -->
		<add key="pbsserveEndpoint" value="" />
		<add key="pbsEndpoint" value="https://test.healthclaiming.api.humanservices.gov.au/claiming/ext-vnd/pbsauth" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<Sierra_Romeo.Properties.Settings>
			<setting name="PrescriberNumber" serializeAs="String">
				<value />
			</setting>
			<setting name="Importer" serializeAs="String">
				<value>textfile</value>
			</setting>
		</Sierra_Romeo.Properties.Settings>
	</userSettings>
</configuration>
